@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

@if (@Model.StatusMessage.Contains("Thank"))
{
    <div class="alert alert-success text-center" role="alert">
        <h1>@Model.StatusMessage</h1>
    </div>
}
else
{
    <div class="alert alert-danger text-center" role="alert">
        <h1>@Model.StatusMessage</h1>
    </div>
}
