@{
    ViewData["Title"] = "Posts";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />



<div class="card-body p-2 p-sm-3">
    <div class="media forum-item">
        <a href="#" data-toggle="collapse" data-target=".forum-content" aria-expanded="false" class="collapsed"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="mr-3 rounded-circle" width="50" alt="User"></a>
        <div class="media-body">
            <h6><a href="#" data-toggle="collapse" data-target=".forum-content" class="text-body collapsed" aria-expanded="false">Realtime fetching data</a></h6>
            <p class="text-secondary">
                lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet
            </p>
            <p class="text-muted"><a href="javascript:void(0)">drewdan</a> replied <span class="text-secondary font-weight-bold">13 minutes ago</span></p>
        </div>
        <div class="text-muted small text-center align-self-center">
            <span><i class="far fa-comment ml-2"></i> 3</span>
        </div>
    </div>
</div>
<hr />