@inject SignInManager<ExtendedIdentityUser> SignInManager
@inject UserManager<ExtendedIdentityUser> UserManager
@inject ASP.NET_MVC_Forum.Data.Contracts.IUserRepository userDataService;
@{
    @using ASP.NET_MVC_Forum.Domain.Entities
    @using ASP.NET_MVC_Forum.Infrastructure.Extensions
    @using Microsoft.AspNetCore.Identity
    @using static ASP.NET_MVC_Forum.Domain.Constants.RoleConstants;
}

<ul class="navbar-nav">

    @if (SignInManager.IsSignedIn(User))
    {
        string currentUserAvatar = await userDataService.GetAvatarAsync(this.User.Id()); 

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle font-weight-bolder" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="avatar-comment img-responsive rounded-circle mr-2" src="@currentUserAvatar" width="30" height="30"> <span class="font-italic">@User.Identity.Name</span>
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                @if (User.IsInRole(ADMIN_ROLE) || User.IsInRole(MODERATOR_ROLE))
                {
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Dashboard</a>
                }
                <a class="dropdown-item" asp-area="" asp-controller="Chat" asp-action="SelectUser">Chat</a>
                <a class="dropdown-item" asp-area="" asp-controller="Posts" asp-action="Add">Add post</a>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage account</a>
                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                <div class="dropdown-divider"></div>
                <form class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-danger">Logout</button>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
