@{
    this.ViewBag.Title = "Chat";
}

<div class="container">
    <div id="messagesList" style="font-size: 28px;" class="mb-5 overflow-auto h-50">
    </div>
    <div id="message-holder" class="container row mt-3 justify-content-center" style="width:100%;position: fixed; bottom: 10%;">
        <input class="col-10" type="text" id="messageInput" placeholder="Message..." />
        <button id="sendButton" class="ml-2 col-1 btn btn-dark ">Send</button>
    </div>
</div>

@section Scripts {
    <script>
        var connection =
            new signalR.HubConnectionBuilder()
                .withUrl("/mychat")
                .build();

        connection.on("NewMessage",
            function (message) {
                var chatInfo = `<div>[${message.user}]: ${message.text}</div>`;
                $("#messagesList").append(chatInfo);
                autoscroll();
            });

        $("#sendButton").click(function () {
            var message = $("#messageInput").val();
            connection.invoke("Send", message);
            $("#messageInput").val("");
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });


        const autoscroll = () => {

            const messages = document.querySelector('#messagesList');
            const lastMessageHeight = messages.lastElementChild.scrollHeight;
            window.scrollBy(0, lastMessageHeight + 50);
        }

    </script>
}