@model ASP.NET_MVC_Forum.Models.Post.EditPostFormModel;
@using static ASP.NET_MVC_Forum.Data.Constants.ClientMessage.MessageType;
 
@{
    ViewData["Title"] = "Add";
}

<link rel="stylesheet" type="text/css" href="~/css/prism.css">

<div class="container">
    <form method="post" asp-controller="Posts" asp-action="Edit">
        <div class="form-row">
            <div class="col-7">
                <input type="text" class="form-control" asp-for="Title" placeholder="Title">
                <input type="hidden" class="form-control" asp-for="PostId" placeholder="Title">
            </div>
            <div class="col">
                <select asp-for="CategoryId" class="form-control">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="mt-3 mb-3">
            <textarea id="mytextarea" required asp-for="HtmlContent" placeholder="Once upon a time..."></textarea>
        </div>
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
        <div class="text-center mt-3">
            <span class="text-center text-danger " asp-validation-for="Title"></span>
            @if (TempData.ContainsKey(ErrorMessage))
            {
                <div class="text-center mt-3">
                    <span class="text-center text-danger ">@TempData[ErrorMessage]</span>
                </div>
            }
            @*HtmlContent property's validation error message is displayed via TempData as for some reason it refuses to display the traditional way*@
        </div>
    </form>
</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}

<script src="https://cdn.tiny.cloud/1/ryfd7q7om7n19zz5fdrtgusrzmzuzed8dr3x1zgq9ry96iie/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: '#mytextarea',
        menubar: 'view edit',
        plugins: 'emoticons paste autosave preview fullscreen codesample code autolink',
        toolbar: 'emoticons paste restoredraft preview fullscreen codesample undo redo styleselect bold italic alignleft aligncenter alignright alignjustify outdent indent',
        paste_data_images: true,
        smart_paste: true,
        min_height: 500,
        codesample_languages: [
            { text: 'HTML/XML', value: 'markup' },
            { text: 'JavaScript', value: 'javascript' },
            { text: 'CSS', value: 'css' },
            { text: 'C#', value: 'csharp' },
        ],
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
    });
</script>

<script src="~/js/prism.js"></script>
